.notification{
    position: absolute;
    width: 100%;
    z-index: 6;
    top: 30px;
    display: flex;
    justify-content: center;
    color: var(--white); 
}
.notification_success{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--green);
    border-radius: 10px;
}
.notification_warning{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--light-red);
    border-radius: 10px;
}
.notification img:last-of-type{
    cursor: pointer;
}