*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --light-black: #313131;
    --dark-grey: #87898F;
    --grey: #E5E5E5;
    --blue: #188CFB;
    --red: #E9281B;
    --light-red: #FA6055;
    --green: #58BF3E;
}
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
body{
    background-color: var(--grey);
    color: var(--light-black);
    font-size: 16px;
    font-family: 'Proxima Nova', sans-serif;
}
input:focus-visible{
    outline: none;
}
form h1{
    font-size: 32px;
    color: var(--black);
}
form input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(38, 38, 38, 0.12);
    font-size: 16px;
    font-family: 'Proxima Nova', sans-serif;
    color: var(--light-black);
}
form input, button{
    height: 40px;
    border-radius: 4px;
}
button{
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.blue_el{
    background-color: var(--blue);
    color: var(--white);
    border-color: transparent;
    border-radius: 4px;
}
.white_el{
    background-color: var(--white);
    color: var(--light-black);
    border-color: transparent;
    border-radius: 4px;
}
.red_el{
    background-color: var(--white);
    color: var(--red);
    border-color: transparent;
    border-radius: 4px;
}